<!--
  Generated template for the ShoppingHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Historial de compras</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let compra of compras | async">

            <h1>Fecha de compra: {{compra.fecha}}</h1>
            <h2>Total: {{compra.total}}</h2>
              <h3 *ngIf="compra.estado == false">Cancelado</h3>  
           
        </ion-item>
    </ion-list>
</ion-content>
