page-login {
    ion-input {
        background-color: map-get($colors, white);
        padding-left: 10px;
        color: #35a818;
    }
    ion-label {
        color: #35a818;
    }
    [floating] {
        margin-left: 10px;
    }
    button {
        float: right;
        margin-right: 20px;
    }
}