page-registro {
    ion-input {
        background-color: map-get($colors, white);
        padding-left: 10px;
        color: black;
    }
    ion-label {
        color: #35a818;
    }
    [floating] {
        margin-left: 10px;
    }
    button {
        float: right;
        margin-right: 20px;
    }
    ion-title {
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}