page-admin-home {}

.body {
    // background-image: url('../../assets/imgs/rest_opt.jpg');
    background-color: darkgray;
}

.btn_plat {
    background-image: url('../../assets/imgs/btn_platillos.jpg');
}

.btn_rest {
    background-image: url('../../assets/imgs/btn_rest.jpg');
}

.btn_bandeja {
    background-image: url('../../assets/imgs/btn_bandeja.jpg');
}

.btn_compra {
    background-image: url('../../assets/imgs/btn_compras.jpg');
}